# Игнорировать файл с переменными окружения (очень важно!)
.env

# Игнорировать папку виртуального окружения
venv/
.venv/ # Если ты назвал ее .venv

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Игнорировать логи (если они будут создаваться)
*.log

# Игнорировать файлы, специфичные для macOS
.DS_Store

# Игнорировать файлы, генерируемые VS Code (если не хочешь их отслеживать)
.vscode/

# Если будут генерироваться временные изображения или другие файлы, которые не нужно сохранять в репозитории
*.png
*.jpg
*.jpeg
*.gif